.image {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.create-button {
    display: flex;
    justify-content: end;
    padding: 15px
}

.manage-post-div {
    width: 100%;
}

.primary{
    background-color: #467AAC;
}

.danger{
    background-color: #FF6961;
}

.success{
    background-color: #4C9188;
}

.admin-button {
    width: 100px;
    border-radius: 25px !important;
    margin: 5px;
}

.admin-switch{
    display: flex;
    justify-content: space-evenly;
}

th {
    text-align: center;
    vertical-align: middle !important;
    padding: 0 !important;
}

tr {
    position: relative;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.sorting::before{
    display: none !important;
}

.sorting_desc::after {
    display: none !important;
}

.sorting_asc::before {
    display: none !important;
}